# TUGAS IV
Pertemuan ke-4 tanggal : 27 Maret 2023

Pada tugas kali ini ada 5 pokok materi yang akan saya coba. Materi dari 5.11 yaitu While Loop hingga materi ke 5.15 yaitu Fungsi Range.

## 5.11 WHILE LOOP
kode while loop akan mengoprasikan data yang diinput dengan mengecek aoakah data tersebut sesuai dengan syarat yang dimasukkan, jika ternyata data yang dimasukkan sesuai dengan syarat (True) maka hasilnya akan dilanjutkan untuk disesuikan lagi dengan syarat. Namun jika pada penyesuaian tersebut tidak sesuai dengan syarat (False) maka loop akan berhenti.

In [2]:
#LATIHAN 1

#pada setiap kode yang dijalankan akan ada pendeklarasian data yang akan diproses oleh kode
#dimana data akan diinisilisasikan dengan variabel
i = 1
n = 15

#setelah dideklarasikan data yang akan diproses akan dimasukkan kode while
#dimana kode while ini akan mendeklarasikan syarat yang akan disesuaikanoleh data

while i <= n :
    
#data yang akan diproses disini dimulai dari data i sampai data ke-n
#namun jika setelah diproses data yang diminta dan menghasilkan data yang lebih dari n
#maka hasil tersebut tidak sesuai dengan syarat maka tidak akan dilanjutkan
    print (i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [3]:
#LATIHAN 2

total = 0 #total yang akan menjadi data awal

#kode input untuk memasukkan data yang akan diproses oelh kode ini
angka = int(input("masukkan angka : "))

#data yang akan dimasukkan oleh pengguna akan sampai pada data dengan nilai 0 dimana data tersebut yang akan menjadi batas akhir
while angka != 0 :
    total += angka #total = total + angka yang dimasukkan
    
    #akan ada kode input lagi untuk memasukkan data berikutnya yang akan diproses
    angka = int(input("masukkan angka : "))
    
#totoal akan dicetak jika pengguna telah memasukkan data dengan nilai 0
#dimana data tersebut akan menjadi penanda total akan dicetak dan tidak adanya data yang input lagi
#karena data dengan nilao 0 tidak akan memenuhi syarat (false)
print ("total = ", total)

masukkan angka : 3
masukkan angka : 5
masukkan angka : 6
masukkan angka : 1
masukkan angka : 9
masukkan angka : 0
total =  24

### Kode While dengan Else
pada kode while ada 2 situasi pada kode ini yaitu ketika data sesuai dengan syarat (True) maka akan dilanjutkan, dan ada juga situasi dimana data tidak sesuai dengan syarat (False) maka pada kode while dengan else ini dimana situasi False ini yang akan dicetak adalah perintah print pada else

In [11]:
#LATIHAN 3

#data yang akan diproses dan disesuaikan dengan syarat
x = 0 #untuk x memenuhi syarat yaitu kurang dari 3

#pada kode while dibawah akan dijabarkan syarat yang akan disesuaikan dengan data
while x < 3: 
    if x ==1 :
        break
    print ("Universitas Udayana")
    x = x +1
    
# terdapat 2 syarat yang yang akan disesuaikan, yang pertama jika x < 3 maka akan yang dicetak adalah "Universitas Udayana"
# dan syarat yang kedua jika x == 1 maka yang akan dicetak adalah break

else:
    print('Jurusan Matematika')
#namun jika tidak sesuai maka yang akan dicetak adalah pada kode else diatas

Universitas Udayana

In [12]:
x = 5 #untuk x tidak memenuhi syarat yaitu lebih dari 3

while x < 3: 
    if x ==1 :
        break
    print ("Universitas Udayana")
    x = x +1
    
else:
    print('Jurusan Matematika')
    
#dikarenakan x lebih besar dari pada 3 maka syarat 1 tidak terpenuhi, karena tida terpenuhi 
#maka yang akan dicetak adalah pernyataan yang ada pada kode else

Jurusan Matematika

In [14]:
x = 1 #untuk x memenuhi syarat yaitu x == 1

while x < 3: 
    if x ==1 :
        break #break disini berarti jika x==1 maka tidak ada yang akan dicetak
    print ("Universitas Udayana")
    x = x +1
    
else:
    print('Jurusan Matematika')

#karena x sama dengan 1 maka sesuai dengan syarat maka tidak ada output yang akan dicetak

## 5.12 LIST DI PYTHON
Pada python kode list digunakan untuk menyimpan beberapa data disaat yang bersamaan. Kode list pada python juga sama dengan kode array pada C++. Dengan kata lain kode list merupakan kumpulan beberapa data dimana data tersebut dijabarkan didalam sebuat tanda [ ] dan dipisahkan oleh tanda koma (,)

Type data yang dapat digunakan pada list bukan hanya type string namun juga dapat menggunakan type data integer. Data yang dimasukkan tidak hanya dalam bentuk homogen atau satu tipe namun juga bisa dalam bentuk heterogen atau campuran

### Membuat Kode List pada Python
Pembuatan kode list dapat dibuat dengan menempatkan data dalam urutan pada sebuah tanda kurung siku [].Berbeda dengan yang lainnya, List tidak memerlukan fungsi bawaan untuk membuat daftar data. Pada List juga dapat memuat anggota yang dapat berubah.

In [27]:
#LATIHAN 1 

# LIST TANPA ANGGOTA

kosong = []
print("Blank List: ")
print(kosong)
#Dapat kita lihat bahwa kode list yang tida memiliki anggota juga tetap dapat diproses oleh sistem.

#LIST YANG ANGGOTANYA BERUPA INTEGER

angka = [12,24,89] #penjabaran anggota list
print ('Berikut merupakan list yang anggotanya berupa angka: ')
print(angka)

#LIST YANG ANGGOTANYA BERUPA STRING

string = ["Udayana", "FMIPA", "Matematika"]
#pada penjabaran anggota list dimana anggotanya berupa data bertype list 
#akan digunakan tanda ("") pada setiap data yang ada agar sistem dapat membaca
#bahwa data tersebut berupa string

print("List dimana datanya berupa String : ")
print (string)

#jika perintah yang diminta hanya print(list) maka sistem akan mencetak list yang ada secara berurutan sesuai yang dimasukkan pengguna
#pada ketida contoh diatas kata "kosong", "angka" dan "string" merupakan nama dari list.

Blank List:
[]
Berikut merupakan list yang anggotanya berupa angka:
[12, 24, 89]
List dimana datanya berupa String :
['Udayana', 'FMIPA', 'Matematika']

In [18]:
#lATHAN 2

#List dimana ada anggota yang berulang

list_berulang = [1,2,3,65,8,2,5,3]
print('List dimana ada anggota yang berulang : ')
print(list_berulang)
#Ketika ada anggota pada list yang sama sistem tetap akan membaca bahwa kedua data tersebut adalah data yang berbeda 
#dan tetap mencetaknya sesuai yang diinput.


#List dimana terdapat 2 type data didalamnya

list_campuran = ["Udayana", 65, 30,32, "Matematika", "FMIPA"]
print('kode list yang terdapat 2 type data : ')
print (list_campuran)
#sama seperti contoh diatas adanya perbedaan type data pada list tidak akan menghentikan data tersebut di proses.

List dimana ada anggota yang berulang :
[1, 2, 3, 65, 8, 2, 5, 3]
kode list yang terdapat 2 type data :
['Udayana', 65, 30, 32, 'Matematika', 'FMIPA']

### Pemanggilan Anggota Pada Kode List
Pemanggilan anggota pada kode list dapat dipanggil sesuai nomor urutan anggota pada list. Tidak hanya dari depan namun jika pada kode list diinputkan data yang berjumlah banyak dan ingin memangggil data yang terletak diakhir namun enggan menghitung nomor urutannya dapat menggunakan kode (-1) jika yang dipanggi data urutan terakhir begitu seterusnya.

In [63]:
#LATIHAN 3

list_campuran = ["Udayana", 65, 30,32, "Matematika", "FMIPA"]
print('kode list yang terdapat 2 type data : ')
print (list_campuran)

#Pemanggilan Anggota
print(" ")#pencetakan spasi
print('anggota dari list yang dipanggil: ')
print(list_campuran[4]) #formatnya : print(nama list[nomor urut])
print(list_campuran[2])

#pemanggilan anggota sesuai urutan yang diinginkan 
print(" ")#pencetakan spasi
print('anggota dari list yang ingin dipanggil: ')
print(list_campuran[2:4]) #formatnya : print(nama list[nomor urut awal: nomor urut akhir])
print(list_campuran[1:-1])


#pemanggilan anggota menggunakan kode min(-)
print(" ")#pencetakan spasi
print('anggota yang di panggil : ')
print(list_campuran[-1])
print(list_campuran[-3])

kode list yang terdapat 2 type data :
['Udayana', 65, 30, 32, 'Matematika', 'FMIPA']

anggota dari list yang dipanggil:
Matematika
30

anggota dari list yang ingin dipanggil:
[30, 32]
[65, 30, 32, 'Matematika']

anggota yang di panggil :
FMIPA
32

### Penghitungan Jumlah Anggota pada Kode List
Pada Kode List terdapat lebih dari satu anggota yang ada didalmnya. Dalam Kode list kita dapang menggitung jumlah anggota dengan perintah len.

In [34]:
#LATIHAN 4

kosong =[]
print (kosong)
print('Jumlah anggota list "kosong" : ')
print(len(kosong))
#diatas contoh jika terdapat list yang tidak memiliki anggota maka sistem akan mengeluarkan ouput berupak 0

angka = [12,24,89] #penjabaran anggota list
print(angka)
print('Jumlah anggota list angka : ')
print(len(angka))
#diatas untuk list yang bertipe data homogen

list_campuran = ["Udayana", 65, 30,32, "Matematika", "FMIPA"]
print (list_campuran)
print("Jumlah anggota list campuran : ")
print(len(list_campuran))
#diatas adalah contoh jika sistem dihadapkan dengan list yang memiliki type heterogen

[]
Jumlah anggota list "kosong" :
0
[12, 24, 89]
Jumlah anggota list angka :
3
['Udayana', 65, 30, 32, 'Matematika', 'FMIPA']
Jumlah anggota list campuran :
6

## 5.13 METODA LIST
Pada kali ini ada berberapa kode yang dapat digunakan pada kode list.

### Split 
Kode split ini berfungsi ketida data yang dimasukkan berupa kalimat maka kode split inilah yang akan mengubah kalimat tersebut menjadi list data bertipe string.

In [69]:
# LATIHAN 1

#pada kali ini akan saya coba dengan menginput sebuah kalimat dan akan saya ubah menjadi sebuah list

#pertama saya akan gunakan kode input untuk menginput kalimatnya
base_data = input ("masukan kalimat yang ingin dijadikan list : ")

#lalu saya menggunakan kode split dimana kode ini akan mengandaikan spasi yang ada diantara 2 buah kata menjadi penanda antar data
data_akhir = base_data.split()

#setelah itu dapat kita cetak data yang telah di pisahkan
print("lalu akan menjadi list: ", data_akhir)

masukan kalimat yang ingin dijadikan list : Universitas Udayana Fakultas MIPA Prodi Matematika
lalu akan menjadi list:  ['Universitas', 'Udayana', 'Fakultas', 'MIPA', 'Prodi', 'Matematika']

### Append
Kode ini adalah kode untuk menambahkan data pada dibagian akhir.

In [75]:
#LATIHAN 2

list_campuran = ["Udayana", 65, 30,32, "Matematika", "FMIPA"] 
# Pendeklarasian list yang akan diubah 

print('list sebelum penambahan data : ')
print(list_campuran) #pencetakan list yang belum diubah

print(" ") #pencetakan spasi

list_campuran.append("Jimbaran") #format : nama list.append(data yang akan ditambahkan)
#pada kode ini akan ditambahkan data "jimbaran" pada akhir data

print("List setelah penambahan data: ")
print(list_campuran) 
#pencetakan list setelah diubah

list sebelum penambahan data :
['Udayana', 65, 30, 32, 'Matematika', 'FMIPA']

List setelah penambahan data:
['Udayana', 65, 30, 32, 'Matematika', 'FMIPA', 'Jimbaran']

### Insert
Kode insert ini berguna untuk menambahkan data, namun berbeda dengan kode append. Kode insert ini berguna menambahkan data pada tempat yang diinginkan

In [77]:
#LATIHAN 3

list_campuran = ["Udayana", 65, 30,32, "Matematika", "FMIPA"] 
# Pendeklarasian list yang akan diubah 

print('list sebelum penambahan data : ')
print(list_campuran) #pencetakan list yang belum diubah

print(" ") #pencetakan spasi

list_campuran.insert(5,"Jimbaran") #format : nama list.insert(urutan ke, data yang akan ditambahkan)
#pada kode ini akan ditambahkan data "jimbaran" dan data tersebut akan menjadi data urutan ke-5

print("List setelah penambahan data: ")
print(list_campuran) 
#pencetakan list setelah diubah

list sebelum penambahan data :
['Udayana', 65, 30, 32, 'Matematika', 'FMIPA']

List setelah penambahan data:
['Udayana', 65, 30, 32, 'Matematika', 'Jimbaran', 'FMIPA']

### Extend
Kode extend ini dapat berfungsi untuk menyatukan 2 list menjadi satu.

In [82]:
#LATIHAN 4

#pertama deklarasikan data pada list pertama
string = ['Universitas', 'Udayana', 'Fakultas', 'MIPA', 'Prodi', 'Matematika']
print('list 1: ')
print(string)

print("") #print spasi

#lalu deklarasikan data pada list kedua
integer = [2,5,6,1,9,3,8]
print('list 2: ')
print(integer)

print("")#print spasi

#lalu akan masuk pada kode extend
string.extend(integer) # format : list pertama.extend(list kedua)

print('list yang telah digabung : ')
print(string)
#lalu dapat di cetak hasil penggabungan
#kenapa yang dicetak adalah list yang bernama string karena secara logika list inilah yang ditambahkan dengan list kedua
#oleh sebab itu sistem mengingat bahwa adanya perubahan pada list pertama.

list 1:
['Universitas', 'Udayana', 'Fakultas', 'MIPA', 'Prodi', 'Matematika']

list 2:
[2, 5, 6, 1, 9, 3, 8]

list yang telah digabung :
['Universitas', 'Udayana', 'Fakultas', 'MIPA', 'Prodi', 'Matematika', 2, 5, 6, 1, 9, 3, 8]

### Penukaran Anggota pada List Data
List merupakan kumpulan data yang dapat diubah dimana jika data yang ingin diubah harus diganti dengan data yang baru.

In [87]:
#LATIHAN 5 

list_campuran = ["Udayana", 65, 30,32, "Matematika", "FMIPA"] 
# Pendeklarasian list yang akan diubah 

print('list sebelum penukaran data : ')
print(list_campuran) #pencetakan list yang belum ditukar

print("") #pencetakan spasi

#setelah dideklarasikan list data yang akan dirubah selanjutnya dapat diperintahkan sistem untuk mengganti salah satu anggota
list_campuran[2] = "Jimbaran" #format : nama list[urutan data yang akan ditukar] = "data pengganti"
print('list data setelah ditukarkan: ')
print(list_campuran)

#maka outputnya adalah list data yang datanya ditelah ditukarkan.

list sebelum penukaran data :
['Udayana', 65, 30, 32, 'Matematika', 'FMIPA']

list data setelah ditukarkan:
['Udayana', 65, 'Jimbaran', 32, 'Matematika', 'FMIPA']

### Penghapusan Data pada List
Penghapusan data pada list dapat dilakukan dengan 2 kode. Yaitu kode del dan kode remove.

In [94]:
#LATIHAN 6 (del)

#pendeklarasian list data bertipe string dimana salah satu data tersebut yang aka dihapus.
string = ['Universitas', 'Udayana', 'Fakultas', 'Jimbaran', 'MIPA', 'Prodi', 'Matematika']
print('list data sebelum salah satunya dihapus: ')
print(string)

print("")

#penghapusan data ke-3 dengan kode del
del string[3] #format : del nama list[data ke-]
print('list data setelah salah satunya dihapus: ')
print(string)

#perintah ini hanya akan menghapus data dengan urutan yang diminta

list data sebelum salah satunya dihapus:
['Universitas', 'Udayana', 'Fakultas', 'Jimbaran', 'MIPA', 'Prodi', 'Matematika']

list data setelah salah satunya dihapus:
['Universitas', 'Udayana', 'Fakultas', 'MIPA', 'Prodi', 'Matematika']

In [95]:
#LATIHAN 7 (remove)

#pendeklarasian list data bertipe string dimana salah satu data tersebut yang aka dihapus.
string = ['Universitas', 'Udayana', 'Fakultas', 'Jimbaran', 'MIPA', 'Prodi', 'Matematika']
print('list data sebelum salah satunya dihapus: ')
print(string)

print("")

#penghapusan data ke-3 dengan kode remove
string.remove("Jimbaran") #format : nama list.remove (data)
print('list data setelah salah satunya dihapus: ')
print(string)

#perintah ini hanya akan menghapus data yang diminta

list data sebelum salah satunya dihapus:
['Universitas', 'Udayana', 'Fakultas', 'Jimbaran', 'MIPA', 'Prodi', 'Matematika']

list data setelah salah satunya dihapus:
['Universitas', 'Udayana', 'Fakultas', 'MIPA', 'Prodi', 'Matematika']

### Penghitungan Jumlah Data pada List
Untuk menghitung jumlah data pada sebuah list kode yang digunakan adalah kode len.

In [99]:
#LATIHAN 7

#pendeklarasian list yang akan dihitung jumlahnya.
string = ['Universitas', 'Udayana', 'Fakultas', 'Jimbaran', 'MIPA', 'Prodi', 'Matematika']

print('list data yang akan dihitung: ')
print(string)

#lalu setelah kita tau list data yang akan dihitung, kita akan menlanjutkan dengan menghitungnya dengan kode len.

print('Total data: ',len(string))
#format yang digunakan ialah : print("kata kata jika ingin", len(nama list))

#output yang akan dikeluarkan adalah berupa angka yang menyatakan jumlah.

list data yang akan dihitung:
['Universitas', 'Udayana', 'Fakultas', 'Jimbaran', 'MIPA', 'Prodi', 'Matematika']
Total data:  7

### Pengecekan Data pada List
Jika data pada list banyak maka untuk dapat mengeceknya dilaukan pemanggilan data.

In [103]:
#LATIHAN 8

#pendeklarasian list yang akan dicek.
string = ['Universitas', 'Udayana', 'Fakultas', 'Jimbaran', 'MIPA', 'Prodi', 'Matematika']

#setelah dideklarasikan dapat dipanggil data apa yang  mau di cek.
print ("Matematika" in string)

#kode dibuat dengan format : print(data in nama list)
#output yang akan dihasilkan berupa "True" atau "False".
#Jika data yang di cek ada pada list maka akan menghasilkan "True", Namun jika tidak ada maka akan dikeluarkan "False"

True

### Penghapusan Semua Data pada List
Untuk menghapus semua data yang ada pada list dapat menggunakan kode clear pada sebuah list.

In [107]:
#LATIHAN 9 

#Pertama akan dilakukan pendeklarasian data pada list yang akan dihapus
list_berulang = [1,2,3,65,8,2,5,3]

print("data-data pada list sebelum dihapus : ")
print(list_berulang) #print list sebelum dihapus

print("")

#setelah itu dapat dituliskan kode penghapusan untuk list yang telah dideklarasikan
list_berulang.clear() 
#dengan format : nama list.clear()

print('list setelah semua data dihapus: ')
print(list_berulang)
#pencetakan list setelah dihapus

#output yang dikeluarkan pasti berupa list kosong karena semua anggotanya telah dihapus.

data-data pada list sebelum dihapus :
[1, 2, 3, 65, 8, 2, 5, 3]

list setelah semua data dihapus:
[]

## 5.14 FOR LOOP
Pengertian untuk kode for loop kurang lebih sama dengan while loop. Kode for loop digunakan untuk mengulangi urutan pada suatu list, dimana setelah dijalankannya maka kita sebagai pengguna dapat mengulangi suatu pernyataan berkali kali untuk satu anggota atau setiap anggota. 

Pada pyhton kode for loop  digunakan untuk menjalankan data yang diinpu sesuai perintah berulang ulang kali, karena ada syarat yang harus disesuaikan juga. Jika syaratnya sesuai maka dapat dilanjutkan kepada data maupun proses selanjutnya.

In [37]:
#LATIHAN 1 

#pendeklarasian list data yang akan di proses
matematika = ["Beta", "Alpha","Theta","Delta"]
for tanda in matematika:
    print(tanda)
    
#kode diatas seperti menandakan anggota pada list matematika dimana semua anggota tersebut merupakan berjenis tanda
#lalu diperintahkan untuk mencetak anggota yang berjenis tanda pad list matematika

Beta
Alpha
Theta
Delta

In [39]:
#LATIHAN 2

#ini adalah contoh jika tidak adanya pendeklarasian data berupa list
#melainkan data yang akan diproses ada pada kode for setelah penginisialisasian variabel
#dan hanya berupa 1 data berupa string.
for x in "Matematika":
    print(x)

#maka output yang akan dikeluarkan adalah berupa setiap huruf pada kalimat.

M
a
t
e
m
a
t
i
k
a

### Kode For dengan Break
Kode break berfungsi untuk menghentian pengerjaan data jika syarat yang memuat perintah break terpenuhi.

In [42]:
#LATIHAN 3

matematika = ["Beta", "Alpha","Kalkulus","Theta","Delta"]
for tanda in matematika:
    print(tanda)
    if tanda == "Kalkulus":
        break
#sesuai dengan syarat yang diinput data yang akan diproses akan sesuai urutan data yang dimasukkan
#jika pada tengah tengan urutan data ternyata tidak memenuhi syarat pertama(False) maka akan dilanjutkan pada syarat kedua
#pada syarat kedua terdapat perintah "break" dimana itu berarti ketika ada data yang sesuai dengan syarat ke 2 maka tidak adanya lagi data yang akan di proses
#atau dengan kata lain kode berhenti berjalan.

Beta
Alpha
Kalkulus

In [46]:
#penempatan kode break akan sangad berpengaruh dengan output yang akan dikeluarkan oleh sistem
#ketika penempatak perintah if dan break ada sebelum output dikeluarkan maka akan menjadi seperti ini

matematika = ["Beta", "Alpha","Kalkulus","Theta","Delta"]
for tanda in matematika:
    if tanda == "Kalkulus":
        break
    print(tanda)
#maka output akan berhenti pada data sebelum syarat kedua atau sebelum pada pernyataan if, begitu juga sebaliknya pada kodde sebelumnya.

Beta
Alpha

### Kode For dengan Continue
Sedangkan untuk kode continue berfungsi untuk menlanjutkan pengerjaan tanpa mengikut sertakan data yang memenuhi syarat lalu melanjutkan dengan data selanjutnya.

In [47]:
#LATIHAN 4 

matematika = ["Beta", "Alpha","Kalkulus","Theta","Delta"]
for tanda in matematika:
    if tanda == "Kalkulus":
        continue
    print(tanda)
    
#jika perintah continue diletakkan sebelum perintah ouput dikeluarkan
#maka output yang dikeluarkan berupa semua data yang memenuhi syarat kedua dan tanpa data yang tidak memenuhi syarat pertama tetapi memenuhi syarat ke dua

Beta
Alpha
Theta
Delta

In [49]:
#Bagaimana jika diletakkan sebaliknya

matematika = ["Beta", "Alpha","Kalkulus","Theta","Delta"]
for tanda in matematika:
    print(tanda)
    if tanda == "Kalkulus":
        continue
        
#maka data yang memenuhi syarat kedua juga ikut dicetak pada output.

Beta
Alpha
Kalkulus
Theta
Delta

### Kode For dengan Else
Sama seperti kode while dengan else, kode for dengan else juga berfungsi dimana ketika data yang diberikan memenuhi syarat(True) maka akan dilanjutkan mencocokkan data dengan syarat namun jika data yang dicocokkan dengan syarat ternyata tidak cocok (False) maka yang akan dicetak oleh sistem adalah pernyataan yang diinput pada kode else.

In [52]:
#LATIHAN 5

angka = [1,2,3,4,5]#pendeklarasian list data yang akan diproses

for satuan in angka:
    print(satuan)
else:
    print("habis semua.")
    
#karena data yang terakhir telah di cetak dan ketika ingin melanjutkan namun tidak ada lagi data yang dapat diproses
#maka sistem akan mencetak pernyataan pada kode else.

1
2
3
4
5
habis semua.

## 5.15 FUNGSI RANGE
Fungsi range memiliki definisi yang sama dengan list bedanya hanya pada data yang diinpu jika pada fungsi range kita hanya peru menginput batas jadi nanti sistem yang akan mengenal batas yang kita berikan lalu sistem akan mencetak anggota range, sedangkan jika pada list kita memasukkan sendiri anggota dari kelompok data yang akan dioperasikan.

Fungsi range ini juga berkaitan dengan fungsi forl loop diatas. Pada range terdapat beberapa syntax yang berpengaruh pada kode ini yaitu ada start, stop, dan step.

In [55]:
#LATIHAN 1

Bilangan_bulat = range (3,6) #pada pendeklarasian disebutkan batas data apa saja yang menjadi syarat output.

for n in Bilangan_bulat : #kofe for pada pengoprasian kode range dan berfungsi untuk menjelaskan perintah.
    
    print (n)

#maka output yang dikeluarkan adalah angka angka yang ada pada batas yang diberikan.

3
4
5

In [54]:
#LATIHAN 2

#jika pada latihan 1 range yang diminta berupa angka yang berurutan maka yang dibawah ini adalah range yang dimana angkanya tidak beruntun melainkan bilangan kelipatan.

Bilangan_kelipatan = range(3,20,2) #nama range = range(batas awal, batas akhir, kelipatan) 
#dimana format diatas juga disebut format (start, stop, step)

for n in x:
    print(n)

#maka output yang dikeluarkan merupakan bilangan yang berkelipatan 2 dari angka 3 hingga angka 20

3
5
7
9
11
13
15
17
19

In [59]:
#LATIHAN 3

#pada kali ini saya akan mencoba menggabungkan kode range, for dan else

for bil_bulat in range(9): 
    #kode for menjelaskan variabel yang akan dicetak dengan fungsi range
 
    print(bil_bulat)
    
else : 
    #dan kode else sebagai tambahan syarat jikalau ada data yang tidak memenuhi syarat maka pernyataan else inilah yang akan di cetak oleh sistem.
   
    print("done!!!")

0
1
2
3
4
5
6
7
8
done!!!